 <div class="content">
    <div class="single">
      <div class="container">
              <div class="single-grids">
                  <div class="col-md-4 single-grid1">
                      <h2>Account</h2>
                      <ul>
                          <li><a href="">Login</a></li>
                          <li><a href="">Register</a></li>
                          <li><a href="">Forgot Your Password</a></li>
                          <li><a href="">My Account</a></li>
                          <li><a href="">Address Books</a></li>
                          <li><a href="">Wishlist</a></li>
                          <li><a href="">Order History</a></li>
                          <li><a href="">Downloads</a></li>
                          <li><a href="">Reward Points</a></li>
                          <li><a href="">Return</a></li>
                          <li><a href="">Transaction</a></li>
                          <li><a href="">Newsletter</a></li>
                          <li><a href="">Recurring Payments</a></li>
                      </ul>
                  </div><!-- End single grid 1 -->                  
                  <div class="col-md-4 single-grid2">
                      <div class="flexslider">
                          <ul class="slides">
                            {% for image in product.images %}
                              <li data-thumb="{{ image.src | img_url: '480x480' }}">
                                  <div class="thumb-image"> <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}" data-imagezoom="true" class="img-responsive"> </div>
                              </li>
                            {% endfor %}
                          </ul>
                      </div>
                      <!-- Test -->
                     
                      <!-- End Test -->
                  </div><!-- End single grid 2 -->                            
                  <div class="col-md-4 single-grid3">
                      <h3>{{ product.title }}</h3>
                      <p>{{ product.description }}</p>
                      <ul class="size">
                          <h3>Size</h3>
                          <li><a href="#">25</a></li>
                          <li><a href="#">26</a></li>
                          <li><a href="#">27</a></li>
                          <li><a href="#">28</a></li>
                          <li><a href="#">29</a></li>
                          <li><a href="#">30</a></li>
                          <li><a href="#">31</a></li>
                          <li><a href="#">32</a></li>
                          <li><a href="#">33</a></li>
                      </ul>
                      <ul class="size">
                          <h3>Length</h3>
                          <li><a href="#">32</a></li>
                          <li><a href="#">34</a></li>
                      </ul>
                      <div class="galry">
                          <div class="prices">
                              <h5 class="item_price">${{ product.price }}</h5>
                          </div>
                          <div class="rating">
                              <span>☆</span>
                              <span>☆</span>
                              <span>☆</span>
                              <span>☆</span>
                              <span>☆</span>
                          </div>
                          <!-- End rating -->
                          <div class="clearfix"></div>
                          <p class="qty"> Qty :  </p>
                          <input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
                      </div>
                      <div class="btn_form">
                          <a href="#" class="add-cart item_add">ADD TO CART</a> 
                      </div>
                      <div class="tag">
                          <p>Category : <a href="#"> Bikinis </a></p>
                          <br>
                          <p>Tag : <a href="#"> Lorem ipsum </a></p>
                      </div>
                  </div> <!-- End single grid 3 -->                           
              </div>
      </div><!-- End container -->         
    </div><!-- End single -->

</div><!-- End  Single content -->  

<div class="myPanel">
         <div class="container">
            <div class="myPanel-item">
               <div id="mytitle" class="my-panel-title">Description</div>
               <div id="mycontent" class="my-panel-content">              
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.          
               </div>
            </div><!-- End myPanelItem -->  
            <div class="myPanel-item">
               <div id="mytitle2" class="my-panel-title">additional information</div>
               <div id="mycontent2" class="my-panel-content">              
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.          
               </div>
            </div><!-- End myPanelItem -->     
             <div class="myPanel-item">
               <div id="mytitle3" class="my-panel-title">Review</div>
               <div id="mycontent3" class="my-panel-content">              
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.          
               </div>
            </div><!-- End myPanelItem -->     
              <div class="myPanel-item">
               <div id="mytitle4" class="my-panel-title">Helps</div>
               <div id="mycontent4" class="my-panel-content">              
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.          
               </div>
            </div><!-- End myPanelItem -->    
         </div>
</div><!-- End myPanel -->

  <div class="relate_product">
         <div class="container">
            <h3>Related Products</h3>
         </div>
         <div class="product">
            <div class="product-item">
               <div class="product-img">
                  {{ 'm1.jpg' | asset_url | img_tag }}
               </div> <!-- End product image -->              
               <div class="product-info">
                  <div class="name">Lorem</div>
                  <div class="price">95$</div>
                  <div class="ofr">
                     <p class="pric1">Rs 280</p>
                     <p class="disc">[12% Off]</p>
                  </div>
               </div><!-- End product info -->
               <div class="add-item">+</div>
            </div><!-- End product item -->
            <div class="product-item">
               <div class="product-img">
                   {{ 'm2.jpg' | asset_url | img_tag }}
               </div> <!-- End product image -->              
               <div class="product-info">
                  <div class="name">Lorem</div>
                  <div class="price">95$</div>
                  <div class="ofr">
                     <p class="pric1">Rs 280</p>
                     <p class="disc">[12% Off]</p>
                  </div>
               </div><!-- End product info -->
               <div class="add-item">+</div>
            </div><!-- End product item -->
            <div class="product-item">
               <div class="product-img">
                   {{ 'm3.jpg' | asset_url | img_tag }}
               </div> <!-- End product image -->              
               <div class="product-info">
                  <div class="name">Lorem</div>
                  <div class="price">95$</div>
                  <div class="ofr">
                     <p class="pric1">Rs 280</p>
                     <p class="disc">[12% Off]</p>
                  </div>
               </div><!-- End product info -->
               <div class="add-item">+</div>
            </div><!-- End product item -->
            <div class="product-item">
               <div class="product-img">
                   {{ 'm3.jpg' | asset_url | img_tag }}
               </div> <!-- End product image -->              
               <div class="product-info">
                  <div class="name">Lorem</div>
                  <div class="price">95$</div>
                  <div class="ofr">
                     <p class="pric1">Rs 280</p>
                     <p class="disc">[12% Off]</p>
                  </div>
               </div><!-- End product info -->
               <div class="add-item">+</div>
            </div><!-- End product item -->
            
         </div>         
      </div><!-- End relate product -->
      <div class="clearfix"></div>
{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}